*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: black;
    color: white;

}
.left_slider{
    background-color: black;
      height: 100vh;
  width: 25%;
  padding: 2rem;
    color: wheat;
    width: 25%;
    border-right: 1px solid rgb(41, 36, 36);
}
.item{
    padding: 1rem;
    font-size: 1.2w;
}
.fa-solid
{
    margin-right: 5px;
}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    font-size: 1rem;
    gap: 1rem;
    

}
.items img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px  solid red;

}
@media only screen and (max-width:768px)
{.item{
    font-size: 2.5vw;
}

}
.insta_story{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
     overflow-y: scroll;

}
.insta_story::-webkit-scrollbar{
    display: none;
}
.insta_clone
{
    display: flex;
}
.img_profile{
    display: flex;
    justify-content: center;
    align-items: center;

}
.img_profile img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px  solid red;


    
}
.person_image{
    display: flex;
    justify-content: center;
    align-items: center;
   
 


}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    margin: 20px;
}
.content{
    background-color: rgb(7, 7, 7);
    width: 55%;

}

.suggestions{
width: 30%;
margin-top: 30px;

}
#text{
    justify-content: space-between;
    width: 82%;
}
.post{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post img{
    width: 100%;
    object-fit: contain;
}
@media  only screen and (max-width: 768){

}