main[data-v-1df44bc0] {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 1rem 1rem 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.text[data-v-1df44bc0] {
    width: 100%
}

.text-content[data-v-1df44bc0] {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #f7f7f7;
    padding: 1rem;
    overflow-y: auto
}

span.time-sub[data-v-418c6f26] {
    margin: 0 2px;
    padding: 0 4px;
    font-size: 24px;
    background: #f2f2f2;
    color: #0f1223;
    border-radius: 5px
}

span.time-sub-dot[data-v-418c6f26] {
    padding: 0 3px;
    font-size: 26px;
    line-height: 26px
}

.number-btn[data-v-418c6f26] {
    min-width: 15%
}

.point[data-v-418c6f26] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: auto
}

.v-btn--active[data-v-418c6f26] {
    background-color: #e0e0e0;
    color: #000;
    text-shadow: none
}

.centered-input[data-v-418c6f26] input {
    text-align: center
}

.plane_start_at,.plane_take_off {
    position: absolute;
    top: 75%;
    left: 0
}

.plane_take_off {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-name: take_off;
    animation-name: take_off;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
}

.plane_flying {
    -webkit-animation-name: flying;
    animation-name: flying;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    top: 0;
    left: 60%
}

.plane_flew,.plane_flying {
    position: absolute;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.plane_flew {
    -webkit-animation-name: plane_flew;
    animation-name: plane_flew;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    top: 10%;
    left: 40%
}

.plane_wait_bet {
    -webkit-animation-name: wait_bet;
    animation-name: wait_bet;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.cash_out_success_present,.plane_wait_bet {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.cash_out_success_present {
    -webkit-animation-name: cash_out_success;
    animation-name: cash_out_success;
    -webkit-animation-duration: .6s;
    animation-duration: .6s
}

.fly_background {
    position: absolute;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: fly_background_switch .4s infinite;
    animation: fly_background_switch .4s infinite;
    width: 100%;
    height: 100%;
    background-image: url(/images/bg_plane_dialog_fps_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%
}

@-webkit-keyframes take_off {
    0% {
        top: 75%;
        left: 0
    }

    to {
        top: 0;
        left: 60%
    }
}

@keyframes take_off {
    0% {
        top: 75%;
        left: 0
    }

    to {
        top: 0;
        left: 60%
    }
}

@-webkit-keyframes flying {
    0% {
        top: 0;
        left: 60%
    }

    50% {
        top: 10%;
        left: 50%
    }

    to {
        top: 0;
        left: 60%
    }
}

@keyframes flying {
    0% {
        top: 0;
        left: 60%
    }

    50% {
        top: 10%;
        left: 50%
    }

    to {
        top: 0;
        left: 60%
    }
}

@-webkit-keyframes plane_flew {
    0% {
        top: 10%;
        left: 50%
    }

    to {
        top: -10%;
        left: 180%
    }
}

@keyframes plane_flew {
    0% {
        top: 10%;
        left: 50%
    }

    to {
        top: -10%;
        left: 180%
    }
}

@-webkit-keyframes wait_bet {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes wait_bet {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes cash_out_success {
    0% {
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }

    70% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes cash_out_success {
    0% {
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }

    70% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes fly_background_switch {
    0% {
        background-image: url(/images/bg_plane_dialog_fps_1.png)
    }

    10% {
        background-image: url(/images/bg_plane_dialog_fps_2.png)
    }

    20% {
        background-image: url(/images/bg_plane_dialog_fps_3.png)
    }

    30% {
        background-image: url(/images/bg_plane_dialog_fps_4.png)
    }

    40% {
        background-image: url(/images/bg_plane_dialog_fps_5.png)
    }

    50% {
        background-image: url(/images/bg_plane_dialog_fps_6.png)
    }

    60% {
        background-image: url(/images/bg_plane_dialog_fps_7.png)
    }

    70% {
        background-image: url(/images/bg_plane_dialog_fps_8.png)
    }

    80% {
        background-image: url(/images/bg_plane_dialog_fps_9.png)
    }

    90% {
        background-image: url(/images/bg_plane_dialog_fps_10.png)
    }

    to {
        background-image: url(/images/bg_plane_dialog_fps_1.png)
    }
}

@keyframes fly_background_switch {
    0% {
        background-image: url(/images/bg_plane_dialog_fps_1.png)
    }

    10% {
        background-image: url(/images/bg_plane_dialog_fps_2.png)
    }

    20% {
        background-image: url(/images/bg_plane_dialog_fps_3.png)
    }

    30% {
        background-image: url(/images/bg_plane_dialog_fps_4.png)
    }

    40% {
        background-image: url(/images/bg_plane_dialog_fps_5.png)
    }

    50% {
        background-image: url(/images/bg_plane_dialog_fps_6.png)
    }

    60% {
        background-image: url(/images/bg_plane_dialog_fps_7.png)
    }

    70% {
        background-image: url(/images/bg_plane_dialog_fps_8.png)
    }

    80% {
        background-image: url(/images/bg_plane_dialog_fps_9.png)
    }

    90% {
        background-image: url(/images/bg_plane_dialog_fps_10.png)
    }

    to {
        background-image: url(/images/bg_plane_dialog_fps_1.png)
    }
}

.point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: auto
}

span.time-sub {
    margin: 0 2px;
    padding: 0 4px;
    font-size: 24px;
    background: #f2f2f2;
    color: #0f1223;
    border-radius: 5px
}

span.time-sub-dot {
    padding: 0 3px;
    font-size: 26px;
    line-height: 26px
}

.item-red-big {
    background: #f44336
}

.item-green-big,.item-red-big {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #fff
}

.item-green-big {
    background: #4caf50
}

.item-violet-red-big {
    background-image: linear-gradient(-90deg,#9c27b0 15px,#f44336 0)
}

.item-violet-green-big,.item-violet-red-big {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #fff
}

.item-violet-green-big {
    background-image: linear-gradient(-90deg,#9c27b0 15px,#4caf50 0)
}

.item-red {
    background: #f44336
}

.item-green,.item-red {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    color: #fff
}

.item-green {
    background: #4caf50
}

.item-violet-red {
    background-image: linear-gradient(-90deg,#9c27b0 13px,#f44336 0)
}

.item-violet-green,.item-violet-red {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    color: #fff
}

.item-violet-green {
    background-image: linear-gradient(-90deg,#9c27b0 13px,#4caf50 0)
}

.red_title {
    color: #f44336
}

.green_title {
    color: #4caf50
}

.violet_title {
    color: #9c27b0
}
